.List-container{
    width: 90vw;
    margin-left: 5vw;
    margin-top: 5vw;
    display: grid;
    grid-template-areas: 'a b c' 'd d d';
    
}

.List-number{
    grid-area: b;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 5vh;
    background-color: #D14900;
    border-radius: 3px;
    color: white;
    font-weight: bold;
}

.List-text{
    grid-area: d;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border: none;
    border-radius: 3px;
}