.Quiz-container{
    display: grid;
    text-align: center;
    /* padding-top: 2vh; */
    font-weight: bold;
}

.Quiz-question{
    /* margin-bottom: 1.5vh; */
    color: rgb(209, 73, 0);
}

.Quiz-choice-container{
    display: grid;
}

.Quiz-answer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    margin-left: 10vw;
    border: solid white 1px;
    border-radius: 3px;
    background-color: rgb(209, 73, 0);
    color: white;
}
