.Quiz-container{
    width: 90vw; 
    padding-left: 5vw;
    padding-top: 5vw;
    display: grid;
    grid-template-areas: 'a' 'b';
}

.Quiz-question{ 
    grid-area: a;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: #6E26B1;
    border-radius: 3px;
    color: white;
    font-weight: bold
}

.Quiz-choice-container{
    display: grid;
}


.Quiz-answer{
    grid-area: a;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    margin-top: 2vh;
    border: dashed rgb(209, 73, 0);
    border-radius: 3px;
}
