#oneK-container{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-areas: 'a' 'b'; 
    grid-template-rows: 90vh 10vh;
    
}


#Map{
    grid-area: a;
    height: 100%;
    width: 100%;
    object-fit: contain
}

#oneK-list{
    grid-area: a;
    /* width: 90vw; */
    text-align: center;
    /* margin-left: 5vw; */
    overflow: scroll;
}