#oneK-container{

}

#Map, #oneK-quiz, #oneK-list, #oneK-info{
    height: 90vh;
    margin-top: 10vh;
    text-align: center;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

#Map{
    width: 100%;
    object-fit: contain;
    overflow: hidden;

}
