#oneK-container{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-areas: 'a' 'b'; 
    grid-template-rows: 80vh 20vh;
}

#Map{
    grid-area: a;
    height: 80%;
    width: 100%;
    object-fit: contain
}
