body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#desktopView{
  display: grid;
  height: 100vh
}

#MainApp-Navbar{
  height: 10vh;
  width: 100vw
}

#MainApp{
  height: 80vh
}

#MainApp-Footer{
  height: 10vh
}