body{
    height: 100vh;
    width: 100vw;

}

#Splash-Container{
    display: grid; 
    padding-top: 5vh
}


#Splash-mswalkldn{
    margin-top: -5vh; 
    justify-self: center;
    width: 80vw;
    object-fit: contain
}

#Splash-text{
    margin-top: -3vh; 
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
}

#Splash-Eventbrite{
    margin-top: -8vh; 
    text-align: center;
    color: #6E26B1;
    font-weight: bold;
    text-decoration: none;
}

.Splash-btn{
    margin-top: -8vh; 
    text-decoration: none;
}

#Splash-mslogo{
    justify-self: center;
    height: 10vh;
    width: 30vw;
    margin-top: -5vh;
    object-fit: contain;
}
